@import url(https://fonts.googleapis.com/css?family=Roboto:500);


.App {
  text-align: center;
  
}

body{
  color:black;
  background-color: white;
}

body.dark-theme{
  color:white;
  background-color: black;
}

.display-none {
  display: none;
}
.showSuggestions {
  display: block;
}

.search-bar {
  display: flex;
  justify-content: center;
}

.CitySearch {
  padding: 5px;
}

.numberOfEvents {
  padding: 5px;
}

ul {
  padding: 0;
  list-style: none;
}

.event {
  padding: 10px 10px 35px;
  margin-bottom: 10px;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
}

.Alert {
  height: 4em;
  width: 20vw;
  font-size: smaller;
}

input[type="text"],
input[type="number"] {
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  align-self: center;
  height: 38px;
}

.suggestions {
  
  z-index: 2;
  position: absolute;
   align-self: center; 
  margin: 0;
  font-size: 14px;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75); 
 } 

 .suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: #eee;
  color:black;
  cursor: default;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.suggestions > li:hover {
  background-color: #bcdcdb;
}

.EventList{
  width: 80vw;
  margin: auto;
  padding-top: 5vh;
}

.event {
  
  padding: 10px 10px 35px;
  margin-bottom: 10px;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 4px;
  
}

.btn-details{
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 5px 8px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;

}



/* slider */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* toggle dark-light  */
 .darkmode{
  /* position: fixed;
  justify-content: center; */
  top: 10px;
 
}


/* .App {
  text-align: center;
  padding: 2% 5%;
}



.App * {
  box-sizing: border-box;

}

body{
  background-color: rgb(37, 37, 37);
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 5px 0;
}

.display-none {
  display: none;
}
.showSuggestions {
  display: block;
}

input[type="text"],
input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
}

.city {
  width: 250px;
}

.CitySearch, .numberOfEvents {
  display: flex;
  flex-direction: row;
  flex-basis: 300px;
  max-width: 300px;
  margin: auto;
  position: relative;
}

 .suggestions {
  width: 250px;
  z-index: 2;
  position: absolute;
   align-self: center; 
  margin: 0;
  top: 118px;
  font-size: 14px;
   box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75); 
 } 

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: #eee;
  cursor: default;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.suggestions > li:hover {
  background-color: #bcdcdb;
}

.event {
  padding: 10px 10px 35px;
  margin-bottom: 10px;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
}

.details-btn {
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 5px 8px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.name {
  font-size: 18px;
  font-weight: 600;
}

.group-name {
  text-transform: uppercase;
  font-size: 14px;
}

.going,
.visibility {
  font-style: italic;
}

.description {
  overflow-x: hidden;
}

.numberOfEvents {
  width: 200px;
  margin: 20px auto;
  text-align: center;
}

.button-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  font-family: sans-serif;
}

.Alert {
  margin: auto;
  position: absolute;
  top: -41px;
}

.data-vis-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.data-vis-wrapper .recharts-responsive-container {
  min-width: 100%;
  display: flex;
}
.recharts-surface {
  overflow: visible;
}



.alert{
  height: 2em;
}

.search-bar{
  border: 2px solid rgb(102, 141, 150);
  background-color: rgb(157, 180, 185);
  width: 50vw;
  margin: auto;
 
 } 



@media only screen and (min-width: 992px) {
  .data-vis-wrapper {
    flex-direction: row;
  }
  .data-vis-wrapper .recharts-responsive-container {
    flex-basis: 50%;
    max-width: 50%;
    min-width: auto;
    margin: 0 auto;
  }
} */